<nav class="navbar outline navbar-expand-lg navbar-background adjusted-height">
  <div class="container outline">
    <a class="navbar-brand" routerLink="/">
      <img class="logo" src="assets/Teunsmuseum-logo.png" alt="Virtueel Museum Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="outline collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-primary me-2" routerLink="/login">Sign In</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary" routerLink="/register">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
